<h2>Open won deals: <%= deals.length %></h2>
<div>
    <% for (let i = 0; i < deals.length; i++) { %>
    <div>Order number <%= deals[i].number %></div>
    <div>Buy order code: <%= deals[i].buyOrderCode %></div>
    <div>Total price: $<%= deals[i].totalAmount%></div>
    <br />
    <div>Organization id: <%= deals[i].supplier.id %></div>
    <div>Organization name: <%= deals[i].supplier.name %></div>
    <div>Organization CNPF/CNPJ: <%= deals[i].supplier.cpfcnpj %></div>
    <br />
    <% for (let j = 0; j < deals[i].itens.length; j++) { %>
    <div>Item name <%= deals[i].itens[j].name %></div>
    <div>Quantity: <%= deals[i].itens[j].quantity %></div>
    <div>Unit price: $<%= deals[i].itens[j].price %></div>
    <br />
    <% } %>

    <form action="/orders/new/<%= deals[i].number %>" method="POST">
        <input type="hidden" name="number" value="<%= deals[i].number %>" />
        <input
            type="hidden"
            name="buyOrderCode"
            value="<%= deals[i].buyOrderCode %>"
        />
        <input
            type="hidden"
            name="totalAmount"
            value="<%= deals[i].totalAmount %>"
        />

        <input
            type="hidden"
            name="supplierId"
            value="<%= deals[i].supplier.id %>"
        />
        <input
            type="hidden"
            name="supplierName"
            value="<%= deals[i].supplier.name %>"
        />
        <input
            type="hidden"
            name="cpfcnpj"
            value="<%= deals[i].supplier.cpfcnpj %>"
        />
        <% for (let j = 0; j < deals[i].itens.length; j++) { %>
        <input
            type="hidden"
            name="itemName"
            value="<%= deals[i].itens[j].name %>"
        />
        <input
            type="hidden"
            name="itemQuantity"
            value="<%= deals[i].itens[j].quantity %>"
        />
        <input
            type="hidden"
            name="itemPrice"
            value="<%= deals[i].itens[j].price %>"
        />
        <% } %>
        <input
            type="hidden"
            name="itensQuantity"
            value="<%= deals[i].itens.length %>"
        />

        <button type="submit">Make a buy order</button>
    </form>
    <form
        method="POST"
        action="<%= `/deals/${deals[i].number}` %>?_method=DELETE"
    >
        <button type="submit">Delete won deal from database</button>
    </form>
    <br />
    <br />
    <% } %>
</div>
